<div class="jumbotron">
  <div class="container text-center">	
  	<div class="jumbo_text">
  		<div>
  			<h2>DevCommOhio</h2>
  			<p style="font-weight: light;">Developing Community Through Communication in Ohio</p>
   		 <br>
   		</div>
   	</div>
   	<div>
   		<h3>Our Mission</h3>
   		<hr class="someClass"><br>
   		<p>To create an online community that is centered around new developers and those just beginning to see if coding is a true interest for them.</p>
   		<p>We have set out to create a supportive online community to help developers of all levels grow and to assist in giving them a central place to find resources and local events in Ohio.</p>
   	</div>
 	<div class ="arrow">
 	 <a href="#Creators"><span id="arrow1" class="glyphicon glyphicon-chevron-down"></span></a>
 	</div>
  </div>
 </div>  

<section id ="Creators">
	<div class="container text-center">
 	  	<h1>-  About The Creators  -</h1>
 	  	 <br>
 	  	 <div class="row text-center">
	 	  	<div class="col-md-6-center">
	 	  		<div class="well">
	 	  			<%= image_tag "Andy.jpg", :id=> "circular" %><br>
	 	  			<br>
	 	  			<p>Andrew is one of the Co-creator's of DevCommOhio, he mostly worked on the back-end components of the online platform.</p>
	 	  				<p>Andrew is an avid reader and loves the ability to create and design that coding offers. He plans to focus on both web design, software design and SEO.</p>
	 	  				<p>He currently lives in Columbus, OH with his beautiful fiance Jordan, inquisitive son Coen, and two cats.</p>
	 	  		</div>
	 	  			<div class="well">
	 	  				<%= image_tag "Hannah.jpg", :id=> "circular" %><br>
	 	  				<br>
	 	  					<p>Hannah is one of the Co-creator's of DevCommOhio, she mostly focused on the front-end styling of the online platform; you could say she is our Front-End Specialist.</p>
	 	  						<p>Hannah enjoys all aspects of coding but has found a wonderful outlet for her creative design abilities through Front-End Development where she can bring beautiful aesthetics to life through code.</p>
	 	  						<p>Hannah came to us from Nashville, Tennesse and while we hope she stays, there's no telling where the wind of progress may blow her well designed developer boat.</p>
	 	  			</div>
	 	  			<div class="well">
	 	  				<%= image_tag "Sam.jpg", :id=> "circular" %><br>
	 	  				<br>
	 	  					<p>Sam is one of the Co-creator's of DevCommOhio, he mostly worked on the strategic development and implementation of the online platform.</p>
	 	  						<p>Sam is a business man and entreprenuer and found his way to code to better understand all aspects of online platforms so he can better excel at business and his own start-ups</p>
	 	  						<p>Sam is a master at networking, exceptionally personable and extremely good at strategizing and implementation of large and small scale ideas.</p>
	 	  			</div>
	 	  		</div>
	 	  	<div class ="arrow">
 				<a href="#ContactUs"><span id="arrow2" class="glyphicon glyphicon-chevron-down"></span></a>
 			</div>
 		 </div>
 	</div>
 </section>

<section id="ContactUs">
 	<div class="container-fluid text-center" id="AboutMe">
 	  	<h1>-  Contact Us  -</h1><br>
		<button class="btn btn-success"><a href="mailto:devcommohio@gmail.com?&subject=*Events Inquiry:">Email DevCommOhio</a></button>
		<br>
 	</div>
 	<br>
 	<br>
 </section>

